# Default ignored files
/../../sistemas de reserva /.idea/shelf/
/../../sistemas de reserva /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../sistemas de reserva /.idea/httpRequests/
# Datasource local storage ignored files
/../../sistemas de reserva /.idea/dataSources/
/../../sistemas de reserva /.idea/dataSources.local.xml
